body {
margin:0;
padding:0
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}

form{
    padding:10%;
    padding-left:30%;
}
form #form input{
    border:2px dotted orange;

}

#form{
    border:1px solid grey ;
    text-align: center;
}
